@media only screen and (man-width: 768px) {
    body {
        background-image: url(https://alebproject32.github.io/wdd131/images/website-underconstruction.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}