@media only screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    header { 
        justify-content: space-between; 
    } 

    nav ul { 
        display: flex;
    }

    main {
        display: grid;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .grid-container figcaption {
        padding-top: 10px;
    }
}