@media only screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    header { 
        justify-content: space-between;
        padding: 20px; 

        
    } 

    header nav { 
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    }

    nav ul { 
        display: flex;
        justify-content: space-around;
        
    }

    nav ul li a { 
        display: inline-flex;
        color: white; 
        text-decoration: none; 
        font-weight: lighter; 
        padding: 10px;
        
    }

    main {
        padding: 20px; 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .grid-container figcaption {
        padding-top: 10px;
    }
}